@charset "UTF-8";

main {
    flex-wrap: wrap;
}

section#colone {
    text-align: center;
    padding: 50px 0;
}

section#colone h1 {
    padding-bottom: 20px;
}

section#colone h2 {
    padding: 0 30px;
}