@charset "UTF-8";

/*Weights: 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cred: hsl(0, 100%, 74%); 
    --cgreen: hsl(154, 59%, 51%);
    --cpurple: hsl(248, 32%, 49%);
    --cgray: hsl(249, 10%, 26%);
    --cpurple2: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: hsla(0, 100%, 50%, 0.555) url(../images/bg-intro-desktop.png) center/cover no-repeat fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    overflow-y: auto;
    
    
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 3vw 10vw 1vw 10vw;
    min-height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

section#colone {
    width: clamp(300px, 40vw, 600px);
    padding-right: 50px;
}

section#colone h1 {
    font-weight: 700;
    font-size: clamp(1.8em, 3.5vw, 3rem);
    line-height: 1.2;
    padding-bottom: 1.5vw;
}

section#colone h2 {
    font-weight: 400;
    font-size: clamp(0.9rem, 1.3vw, 1rem);
}

section#coltwo {
    width: clamp(300px, 40vw, 500px);
    height: auto;
    scrollbar-width: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
}

section#coltwo::-webkit-scrollbar {
    display: none;
}

.right {
    box-shadow: 0px 7px 1px 0px hsla(249, 10%, 26%, 0.185);
    border-radius: 10px;
}

p#price {
    width: 100%;
    background-color: var(--cpurple);
    padding: clamp(23px, 1.5vw, 20px) 40px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;

    transition: transform 0.3s ease;
}

div#signin {
    background-color: white;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    transition: transform 0.3s ease, height 0.3s ease;
}

#formulario {
    padding: 25px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 87%;
    max-width: 500px;
    margin: 0 auto;
}

#formulario .field {
    padding: 7px 0px;
    text-align: right;
}

div.actions {
    padding-top: 7px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

input, textarea, button {
    width: 100%;
    padding: 17px;
    margin: 0;
    border: 1px solid #e4e3e3c9;
    border-radius: 5px;
    font-size: 0.8em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cgray);
}

input.success {
    border-color: var(--cgreen);
}

input.error {
    border-color: var(--cred);
    color: var(--cred);
}

#signin.error-active,
#price.error-active {
    transform: translateY(-15px);
}

.msg {
    color: var(--cred);
    font-size: 0.5em;
    font-style: italic;
    font-weight: 600;
    text-align: right;
    margin-bottom: 10px;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 20px;
}

button {
    color: white;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.95em;
    text-transform: uppercase;
    background-color: var(--cgreen);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 1px -4px 0px 0px #0000002b;

    transition: background 0.2s, transform 0.2s;
}

button:hover {
    background-color: hsl(154, 48%, 64%);
    transform: scale(0.99);
}

.obs {
    color: var(--cpurple2);
    font-weight: 500;
    text-align: center !important; 
    font-size: 0.6em;
    padding: 0 40px 40px 40px;
}

a {
    color: var(--cred);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

footer p {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.74);
} 

footer a {
    color: rgba(255, 255, 255, 0.616);
}