@charset "UTF-8";

/*Weights: 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cred: hsl(0, 100%, 74%); 
    --cgreen: hsl(154, 59%, 51%);
    --cpurple: hsl(248, 32%, 49%);
    --cgray: hsl(249, 10%, 26%);
    --cpurple2: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
}

body {
    background: hsla(0, 100%, 50%, 0.555) url(../images/bg-intro-desktop.png) center/cover no-repeat;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    min-height: 100vh;
    padding: 5vw 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section#colone {
    width: 500px;
    padding-right: 50px;
}

section#colone h1 {
    font-weight: 700;
    font-size: 2.8em;
    line-height: 50px;
    padding-bottom: 25px;
}

section#colone h2 {
    font-weight: 500;
    font-size: 0.8em;
}

section#coltwo {
    width: 500px;
}

.right {
    box-shadow: 0px 7px 1px 0px hsla(249, 10%, 26%, 0.185);
    border-radius: 10px;
}

p#price {
    background-color: var(--cpurple);
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

div#signin {
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario {
    padding: 25px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 87%;
    max-width: 500px;
    margin: 0 auto;
}

#formulario p {
    margin: 0;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    border: 0;
}

input, textarea {
    width: 100%;
    padding: 17px;
    margin: 0;
    border: 1px solid #e4e3e3c9;
    border-radius: 5px;
    font-size: 0.8em;
    box-sizing: border-box;
}

input.sucess {
    border-color: var(--cgreen);
}

input.error {
    border-color: var(--cred);
}

.msg {
    text-transform: ;
    color: var(--cred);
    font-size: 0.5em;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    margin-bottom: 10px;
    height: 1em;
    padding-top: 5px;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 20px;
}

input[type="submit"] {
    padding: 15px;
    color: white;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.95em;
    text-transform: uppercase;
    background-color: var(--cgreen);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 1px -4px 0px 0px #0000002b;

    transition: background 0.2s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: hsl(154, 48%, 64%);
}

.obs {
    color: var(--cpurple2);
    font-weight: 600;
    text-align: center;
    font-size: 0.7em;
}

a {
    color: var(--cred);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
}
