@charset "UTF-8";

/*Weights: 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cred: hsl(0, 100%, 74%); 
    --cgreen: hsl(154, 59%, 51%);
    --cpurple: hsl(248, 32%, 49%);
    --cgray: hsl(249, 10%, 26%);
    --cpurple2: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: hsla(0, 100%, 50%, 0.555) url(../images/bg-intro-desktop.png) center/cover no-repeat;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    min-height: 100vh;
    padding: 5vw 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section#left {
    width: 600px;
}

section#left h1 {
    font-weight: 700;
    font-size: 2.8em;
}

section#left h2 {
    font-weight: 400;
    font-size: 1em;
}

section#right {
    width: 600px;
    
}

.coldir {
    box-shadow: 0px 3px 1px 0px hsla(249, 10%, 26%, 0.384);
    border-radius: 5px;
}

p#price {
    background-color: var(--cpurple);
    padding: 15px;
    text-align: center;
}

div#signin {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input[type="submit"] {
    color: white;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: var(--cgreen);
    border-radius: 5px;
    cursor: pointer;

    transition: background 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: greenyellow;
}

.obs {
    color: var(--cpurple2);
    font-weight: 600;
    text-align: center;
    font-size: 0.85em;
}

a {
    color: var(--cred);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
}
